#drag-overlay {
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 200;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*opacity: .8;*/
  pointer-events: none;
}

#ex-overlay {
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /*opacity: .8;*/
}

.w {
  position: relative;
}

li {
  background-color: white;
  position: relative;
  padding: 3px;
}

canvas {
  border-style: solid;
  border-width: 2px;
  border-color: #aaa;
  background-color: white;
  position: relative;
  z-index: 150;
}



#candiv {
  /*float: left;*/
  display: inline-block;
  width: 500px;
  min-height: 500px;
  padding-right: 15px;
  /*border-right: 4px solid #777;*/
}

#textdiv {
  width: calc(95% - 500px);
  vertical-align: top;
  display: inline-block;
  padding-left: 10px;
  border-left: 4px solid #777;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

#can-overlay {
  position: absolute;
  height: 504px;
  width: 504px;
  z-index: 160;
  pointer-events: none;
  overflow: hidden;
  display: none;
}

#spotlight {
  position: absolute;
  left: -20px;
  right: -20px;
  background-color:  rgba(255,255,255,0);
  border-radius: 500px;
  box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.5); /*0px 0px 0px 3px rgba(135,206,250,0.9), */
  height: 10px; /* remember to modify highlight() as well*/
  width: 10px;
  z-index: 170;
  pointer-events: none;
}



/* http://stackoverflow.com/a/11561235/1644272 */
.matrix {
    position: relative;
    margin: 10px;
    display: inline-table;
    vertical-align: middle
}

.matrix:before {
    content: "";
    position: absolute;
    left: -4px;
    top: 0;
    border: 1px solid #000;
    border-right: 0px;
    width: 4px;
    height: 100%;
}
.matrix:after {
    content: "";
    position: absolute;
    right: -4px;
    top: 0;
    border: 1px solid #000;
    border-left: 0px;
    width: 4px;
    height: 100%;
}
.matrix td {
    padding: 3px;    
    text-align: center;
}


.reference-transform {
  display: none;
}

.reference-example {
  display: none;
}


.transform-div:first-child > .remove-button {
  display: none;
}

.footer {
  text-align: center;
  font-size: small;
}

.first-rule {
  margin-top: 20px;
  width: 90%
}

.second-rule {
  margin-top: 40px;
  margin-bottom: 15px;
  width: 60%
}

.second-rule {
  
}